/* css */
.LatestMovies {
  margin-top: 2em;
}

.LatestMoviesTitle {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: Poppins, sans-serif;
}
.owl-dots {
  display: none;
}
.box {
  background: #333333;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  margin: 0.5em;
}
.box i {
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2px;
}
.box:hover {
  transition: 0.5s;
  background: rgb(210, 6, 6);
  color: #f4eaea;
}

/* Swiper */

.main_Swiper {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Hide swiper-button-next and swiper-button-prv */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.watchNowBtn:hover {
  background: #fffefe !important;
  color: rgb(250, 2, 2) !important;
}
